@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
/* resets */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* resets */

/* custom colors and fonts */
:root{
    --soft-blue:hsl(231, 69%, 60%);
    --white: rgb(249, 249, 249);
    --soft-red:hsl(0, 94%, 66%);
    --light-blue:hsl(229, 8%, 60%);
    --light-blue-border:hsl(229, 8%, 80%);
    --very-dark-blue:hsl(229, 31%, 21%);
    --ff-font:'Rubik', sans-serif;
    --box-shadow: 0rem 0.1875rem 0.625rem rgba(0,0,0,0.3);
}
/*x custom colors and fonts x*/

html, body  {
    font-family: var(--ff-font);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Helper classes */

.extension__header p,
.faq__header  p {
    max-width: 30rem;
    line-height: 1.8;
    margin: 0.625rem auto;
}


.text-secondary {
    color: var(--light-blue);
}

.bg-primary {
    background: var(--soft-blue) !important;
}


.bg {
    display: inline-block;
    min-height: 18.75rem;
    min-width: 18.75rem;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    cursor: pointer;
}

.btn-primary {
    background: var(--soft-blue);
    font-weight: 450;
    color: var(--white);
}

.btn-primary:hover {
    outline: 0.0625rem solid var(--soft-blue);
    transition : all .3s ease;
    background: transparent;
    color:var(--soft-blue);
    box-shadow: var(--box-shadow);
}

.btn-secondary {
    background: var(--white);
    color: var(--very-dark-blue);
    font-weight: 450;
}

.btn-secondary:hover {   
    outline: 0.0625rem solid var(--soft-blue);
    transition : all .3s ease;
    background: transparent;
    color: var(--soft-white);
    box-shadow: var(--box-shadow);
}

figcaption {
    position: absolute;
    left: -30000px;
}

/* .container {
    max-width: 96.875rem;
} */

.offset {
    position: absolute;
    left: -100000px;
}

.bg-white {
    background-color: white;
}
/*x Helper classes x*/


/* Navbar */



.navbar-nav {
    list-style: none;
}

.navbar-nav .nav-item .nav-link {
    font-weight: 400;
    color: var(--very-dark-blue);
    font-size: 1rem;
}

.navbar-nav .nav-item .nav-link:hover {
    transition: all .3s ease;
    color: var(--soft-red);
}

.btn-danger {
    outline: 0.125rem solid transparent;
    padding: 0.3125rem 1.25rem;
    border-radius: 10%;
    background-color: var(--soft-red);
    font-weight: 400;
    width: auto;
}


.btn-danger:hover {
    outline: 0.125rem solid var(--soft-red);
    background-color: transparent;
    color: var(--soft-red);
    
}
/*x Navbar x*/


/* Hero */
.hero__left h1{
    font-weight: 550;
    font-size: 2.3rem;
    text-transform: capitalize;
}

.hero__left p {
    line-height: 1.6;
    color: var(--light-blue);
}

.hero__right {
    position : relative;

}
.hero .bg {
    position: absolute;
    bottom: 0;
    right:0;
    left: 30%;
    z-index: -1;

    background-color: var(--soft-blue);
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;

}

/*x Hero x*/

/* features */
.features h2 {
    font-size: 2rem;
}
.features p{
    color: var(--light-blue);
    max-width: 28.125rem;
}



.features__tab .row .tab1:first-child {
    position: relative;
    width: auto;
    border-top: 0.0625rem solid var(--light-blue);
    border-bottom: 0.0625rem solid var(--light-blue);
}


.features__tab .row > .tab1:first-child.active:after {
    content: "";
    display: inline-block;
    min-width: 100%;
    min-height: 0.25rem;
    background: var(--soft-red);
    animation : bottomLine .4s ease forwards;
}



.features__tab .row .tab2:nth-child(2) {
    position: relative;
    width: auto;
    border-top: 0.0625rem solid var(--light-blue);
    border-bottom: 0.0625rem solid var(--light-blue);
}


.features__tab .row > .tab2:nth-child(2).active::after {
    content: "";
    display: inline-block;
    min-width: 100%;
    min-height: 0.25rem;
    background: var(--soft-red);
    animation : bottomLine .4s ease forwards;
}
.features__tab .row .tab3:last-child {
    position: relative;
    width: auto;
    border-top: 0.0625rem solid var(--light-blue);
    border-bottom: 0.0625rem solid var(--light-blue);
}


.features__tab .row > .tab3:last-child.active::after {
    content: "";
    display: inline-block;
    min-width: 100%;
    min-height: 0.25rem;
    background: var(--soft-red);
    animation : bottomLine .4s ease forwards;
}

.features__tab .row > .tabs {
    cursor: pointer;
}

.features__tab .row .tabs > p {
    color: var(--very-dark-blue);
    font-size: 1.2rem;
}

.features__tab .row .tabs:hover p {
    color: var(--soft-red);
    transition: all .3s ease;
}


.features__header {
    margin: 0.9375rem 0rem;
}

.features__left {
    position: relative;
}
.features__left .bg {
    position: absolute;
    bottom: 0;
    left:0;
    right: 20%;
    z-index: -1;

    background-color: var(--soft-blue);
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
}

.slider {
    /* background: red; */
    display: flex;
    overflow-x: hidden;
    width: 300vw;
    transform: translateX(0vw);
    
}


.slider .slider__first,
.slider .slider__second,
.slider .slider__third {
    width: 100%;
}

.slider .slider__first.active, 
.slider .slider__second.active, 
.slider .slider__third.active {
    animation: fadeIn .4s ease  forwards;

}


/*x features x*/

/* Extension  */
.card-img-top {
    width: 9.375rem;
    height: 9.375rem;
}

.extension__body .card-footer {
    background: transparent;
    border-top: 0.25rem dotted var(--light-blue-border);
    padding: 0.9375rem;
}

/*x Extension  x*/

/* Accordian button */
.accordion-button:not(.collapsed) {
    color: unset;
}
.accordion-button:is(.collapsed):hover {
    color: var(--soft-red);
}

.accordion-button:not(.collapsed)::after {
    background-image: url(./images/icon-arrow.svg) !important;
}

/*x Accordian button x*/

/* newsletter */
.newsletter .btn-danger:hover {
    background: var(--white);
    border: none ;
    border-radius: 0.25rem;
}
/*x newsletter x*/

/* Footer */
footer {
    background: var(--very-dark-blue);
}

footer .nav-list {
    list-style: none;
    gap: 1.25rem;
} 

footer .nav-list li a {
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 0.125rem;
}

footer .nav-list li a:hover {
    color: var(--soft-red);
    transition: all .3s ease;
}

footer .logo figure img {
    filter: invert(100%) hue-rotate(180deg);
}


/*x Footer x*/

/* animation */
@keyframes bottomLine {
    from {
        min-width: 0;
    }
    to {
        min-width: 100%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;

    }
}
/* animation */


@media screen and (min-width : 48rem) {
    .features__tab .row .tabs:first-child, 
    .features__tab .row .tabs:nth-child(2), 
    .features__tab .row .tabs:last-child  {
        border-top: none;
        border-bottom: none;
    }

    .btn-danger {
        width: auto !important;
    }

    .bg-white {
        background-color: white;
    }
    
}

